<!DOCTYPE html>
<html>
  <head>
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>Admin: Panel</title>
    <!-- =================Custom styleSheet for the App============== -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
  </head>
  <body>
    
    
    <h1>Admin: Panel</h1>
    <!-- =================This is the Logout button============== -->
    <a href="/logout"><button type="button" class="btn btn-info" id="admin-btn-logout">Log Out</button></a>
    <!-- =================This is the button to show Admin info============== -->
    <button type="button" class="btn btn-primary" id="showInfo">Display Admin Info</button>
    <!-- =================This is the button to go to user listing page============== -->
    <a href="admin/getAllUsers"><button type="button" class="btn btn-primary" id="editUsers">User List</button></a>
    <table class="table table-bordered data-table table-hover" id="table-admin-info">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Password</th>
      <th>Role</th>
      <th>Phone number(User Name)</th>
      <th>Profile Picture</th>
      <!-- =================This is the button to Modify The Admin info============== -->
      <th width="200px" id="th">Modify</th>
    </thead>
    <tbody id="tbody">
    <tr id="trRow" data-firstname="firstname" data-lastname="lastname" data-password="password" data-role="admin" data-mobile="mobile"></tr>
    </tbody>
  </table>
      <!-- =================This is the button to upload profile picture============== -->
  <form action="uploads" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <button type="submit" class="btn btn-success">upload</button>
  </form>

        <!-- =================Message if the file upload was done ============== -->
  <%= typeof message != 'undefined' ? message : 'Upload a profile picture here' %>

        <!-- =================Script for this page's Functionality============== -->
    <script src="/javascripts/adminPanel.js"></script>
  </body>
</html>
