<!DOCTYPE html>
<html>

<head>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <title>Admin: Edit Users</title>
  <!-- =================Custom styleSheet for the App============== -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div class="Container">
    <h1>Admin: Edit Users</h1>
    <a href="/api/panel"><button type="button" class="btn btn-primary">back</button></a>
    <!-- <button type="button" class="btn btn-primary"  id="back-button">back</button> -->
    <button type="button" class="btn btn-primary" id="showUsers">show</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add User
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered data-table table-hover" id="newUsersTable">
              <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Role</th>
              </thead>
              <tbody id="tbodyNewUsers">
                <tr>
                  <td>
                    <input type="text" class="form-control" Name="firstName" placeholder="firstname"
                      aria-label="firstname" aria-describedby="basic-addon1" />
                  </td>
                  <td>
                    <input type="text" class="form-control" Name="lastName" placeholder="lastname" aria-label="lastname"
                      aria-describedby="basic-addon1" />
                  </td>
                  <td>
                    <input type="text" class="form-control" Name="mobile" placeholder="mobile" aria-label="mobile"
                      aria-describedby="basic-addon1" />
                  </td>
                  <td>user</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary" id="saveUser">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-bordered data-table table-hover" id="usersTable">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th width="200px">Action</th>
      </thead>
      <tbody id="tbodyUsers"></tbody>
    </table>
  </div>
  <span id="changePass"></span>
  <script src="/javascripts/adminPanel.js"></script>
  <script>
    $("#myModal").on("shown.bs.modal", function () {
      $("#myInput").trigger("focus");
    });
  </script>
</body>

</html>