<!DOCTYPE html>
<html>
  <head>
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  
    <h1><%= title %></h1>
   <button type="button" class="btn btn-danger"><a href="/logout">logout</a></button>
    <button type="button" class="btn btn-primary" id="showInfoUsers">show</button>
    <table class="table table-bordered data-table table-hover" id=" ">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Password</th>
      <th>Role</th>
      <th width="200px" id="th">Modify</th>
    </thead>
    <tbody id="tbodyUser">
    <tr id="trRowUsers"></tr>

    </tbody>
  </table>

    <script src="/javascripts/userPanel.js"></script>
  </body>
</html>
