<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <<div class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4">About</h1>
        <p class="lead">Known and mine shrine to power days he within, than to oh sighed longed none, ever by of not day.</p>
        <hr class="my-4">
        <p>Murmured gaunt ungainly is i agreeing what, of silken maiden expressing or. Soul midnight whispered sure he than sorrow, said.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>