<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="container-fluid">

<div class="cards">
  <div class="row row-padder">
  <% cardsData.forEach(function(card){ %>
            <div class="col-3" data-id="<%= card.id %>">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= card.imgSrc %>" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title"><%= card.title %></h5>
                  <p class="card-text">
                    <%= card.description %>
                  </p>
                  <a href="<%= "card" + card.id %>" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          <% })%>

</div>

          
        






      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
