<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <div class="container-fluid">
      123
    </div>
    <footer>
        <% include ../partials/footer %>
        

    </footer>
    
  </body>
</html>
