<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      
 <div class="container">
              <% include ../partials/loginframe %>

  </div>
  AAAA
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
