<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
<p class="text-center text-muted"> <%= message %> </p>
          
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
