/* This is the CSS file for the question 1.2 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 5px rgb(138, 138, 236) solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* ====================================== */
/* this is where the actual answers start. */
/* ====================================== */
.header {
  background-color: rgb(110, 231, 110);
  height: 20%;
}

.footer {
  background-color: rgb(110, 231, 110);
  height: 20%;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
}

.content-main {
  width: 50%;
}
.content-sidebar {
  width: 25%;
  background-color: rgb(4, 192, 192);
}
.content-navbar {
  width: 25%;
  background-color: purple;
}

.title-texts {
  padding: 5px;
  color: white;
  font-family: sans-serif;
}
.content-main h1 {
  padding: 5px;
  color: rgb(2, 2, 2);
}
.subtitle-texts {
  padding: 5px;
  color: white;
  font-family: sans-serif;
}
