.container-fluid {
   
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
 }
.full-width{
    padding: 0;
}
.menu-container{
    background: #333333;
   
}
.nav-link{
    cursor: pointer !important;
}
.row-padder{
    padding: 10px;
    display: flex;
    justify-content: center;
}