/* This is the HTML file for the question 1.2 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

.main {
	padding: 10px;
}

#wrapper-paragraph{
	font-size: 20px;
}

#wrapper-paragraph img {
	margin: 10px;
	float: right;
}