/* This is the CSS file for the question 1.1 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

/* ====================================== */
/* this is where the actual answers start. */
/* ====================================== */

.container-main{
    width: 100%;
    background-color: lightgray;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(46, 46, 46);
}

.menu-item {
    display: inline-block;
    margin-top:13px;
    padding: 8px;
}
.menu-item a {

    color: white;
    text-decoration: none;
}
.content{
   
    display: inline-block;
    text-align: center;
}

.left-navbar{
    float:left;
    display: block;
    width: 20%;
}
.left-area{
padding-top:10%;
width: 100%;
height: 30px;
background-color: rgb(75, 144, 167);
color: white;
text-align: center;
}
.middle-content{
    display: inline-block;
    margin-left: 10px;
    width: 50%;
    text-align: left;
}
.middle-content h2{
    display: inline-block;
    margin-bottom: 0;
    width: 50%;
    text-align: left;
}
.right-navbar{
    float: right;
    right: 0;
    width: 25%;
}

.right-area{
    width: 100%;
    height: 40px;
    background-color: rgb(124, 16, 79);
    color: white;
    text-align: center;
    padding-top:9%;
    }


.footer{
    padding-top: 1px;
    padding-bottom: 7px;
    display: block;
    width: 100%;
    background-color: bisque;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
}