button, .btn{
    display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;

  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
}
.name-getter-title{
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.play-frame{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;

}
.play-info-box{
    border: 1px solid black;
    background-color: aqua;
    width: 100%;
    align-self: center;
}
#starter-box{
    
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#number-getter input{
    border: 1;
    text-align: center;
    width: 200px;
    border-bottom: 2px solid #C8CCD4;
    color: #223254;
    transition: all .15s ease;
}


.game-frame {
    color: rgb(241, 181, 181);
    word-wrap: break-word;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}
.game-frame div {
  box-sizing: border-box;
  width: 30px;
  border: 1px solid black;
  height: 30px;
  margin: 2px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#number-getter {
    padding: 5px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.name-getter-container {
    padding: 10px;
 
}
#name-getter {
  display: none;
}
.name-getter {
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-frame{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
  
}
.winning-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
    background-color: rgb(156, 200, 241);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    }
    @keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    } 

