/* This is the HTML file for the question 1.4 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

.answer-section {
	background-color:  rgb(77, 141, 238);
	height: 800px;
}

.login-page {
  width: 460px;
  padding: 8% 0 0;
  margin: auto;

}
.form {
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 70px;
  padding: 45px;
  text-align: center;
  border-radius: 10px;
}
.form h1{
	margin-top: 0;
	color: gray;
	font-family: sans-serif;
}
.form input {
  font-family: sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.form button {
  font-family: sans-serif;
  background:  rgb(77, 141, 238);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}

/* this is just for the hover, click and focus response of the button. */

.form button:hover,.form button:active,.form button:focus {
  background:    rgb(118, 165, 235);
}



