* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 13px Helvetica, Arial;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite
  }
  /* #chat-frame{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    padding-top: 8px;
  } */
  form {
    background: #fff;
    padding: 3px;
    position: fixed;
    bottom: 10px;
    width: 100%;
    border-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
  }

  form input {
    border-style: solid;
    padding: 10px;
    width: 75%;
    margin-right: .5%;
  }

  form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    /* margin-left: 2%; */
  }
  h3{
    font-size: 30px;
    margin-bottom: 10px;
  }
  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #messages li {
    padding: 5px 10px;
  }

  #messages li:nth-child(odd) {
    background: #eee;
  }

  .online_icon {
    padding: 5px;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
  }

  .offline {
    padding: 5px;
    background-color: #c23616 !important;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
  }