/* This is the HTML file for the question 1.7 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */
.header {
	text-align: center;
	width: 100%;
	height: 200px;
	background-color: rgb(60, 138, 228);
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;

}
.header h3{
	position: relative;
	top: 40%;
	color: white;
}

.middle-body {
	width: 100%;
	text-align: center;
}
.column-section{
	box-sizing: border-box;
	display: inline-block;
	width: calc(99%/3);
	border-top: 30px solid white;
	border-right: 15px solid white;
	border-left: 15px solid white;
}
.column-section-left{
	border-left: 0;
}

.column-section-center{
	border-left: 0;
	border-right: 0;
}


.column-section-right{
	border-right: 0;
}




.row-section-top {
	background-color: rgb(235, 233, 233);
	padding: 2%;
}
.row-section-bottom{
	padding: 2%;
	height: 100px;
	margin-top: 30px;
	color: white;
	font-size: 30px;
}
#blue-section{
	background-color: rgb(60, 138, 228);
}
#orange-section{
	background-color: rgb(231, 187, 93);
}

#green-section{
	background-color: rgb(93, 231, 190);
}

.footer {
	margin-top: 30px;
	width: 100%;
	height: 150px;
	background-color: rgb(231, 93, 127);
	color: white;
	font-size: 30px;
	text-align: center;
}
.footer p {
	position: relative;
	top: 40%;
}