/* This is the CSS file for the question 1.4 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 5px rgb(138, 138, 236) solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* ====================================== */
/* this is where the actual answers start. */
/* ====================================== */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "one one two two "
  "three three two two "
  "four five two two "
  "six . two two "
  "seven . eight eight "
  "seven . nine nine "
  "seven ten ten ten";
  background-color: rgb(16, 182, 140);

  height: 500px;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten{
  margin: 3px;
  background-color: rgb(131, 209, 190);

}
.one {
  grid-area: one;

}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.ten {
  grid-area: ten;
}
