/* This is the CSS file for the question 1.5 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 5px rgb(138, 138, 236) solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* ====================================== */
/* this is where the actual answers start. */
/* ====================================== */
.grid-container {
  display: grid;
  text-align: center;
  font-family: sans-serif;
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top-header"
      "title-1"
      "title-2"
      "title-3"
      "color-blue"
      "color-orange"
      "color-green"
      "color-red";
  }
  .color-red {
    display: none;
  }
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top-header top-header"
      "title-1 title-2"
      "title-3 title-3"
      "color-blue color-orange"
      "color-green color-red";
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top-header top-header top-header"
      "title-1 title-2 title-3"
      "color-blue color-orange color-green"
      "color-red color-red color-red";
  }
}
@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "top-header top-header top-header top-header top-header top-header top-header top-header top-header top-header top-header top-header"
      "title-1 title-1 title-1 title-1 title-2 title-2 title-2 title-2 title-3 title-3 title-3 title-3"
      "color-blue color-blue color-blue color-orange color-orange color-orange color-green color-green color-green color-red color-red color-red";
  }
}

.top-header {
  grid-area: top-header;
  height: 200px;
  background-color: rgb(75, 75, 182);
  margin: 5px;
  color: white;
}
.top-header h2 {
  margin-top: 5%;
}
[class*="title-"] {
  height: 200px;
  background-color: rgb(205, 209, 209);
  margin: 5px;
}

[class*="title-"] h3 {
  margin-top: 5%;
}

.title-1 {
  grid-area: title-1;
}

.title-2 {
  grid-area: title-2;
}

.title-3 {
  grid-area: title-3;
}
[class*="color-"] {
  height: 200px;
  margin: 5px;
  color: white;
}
[class*="color-"] h3 {
  margin-top: 5%;
}
.color-blue {
  grid-area: color-blue;
  background-color: rgb(60, 138, 228);
}

.color-orange {
  grid-area: color-orange;
  background-color: rgb(231, 187, 93);
}

.color-green {
  grid-area: color-green;
  background-color: rgb(93, 231, 190);
}

.color-red {
  grid-area: color-red;
  background-color: rgb(231, 93, 127);
}
