
#ex_wrapper {
  padding: 0;
  border-style: solid;
  border-color: #B50831;
  border-width: 0;
  border-radius: 0;
  background-color: #7CDDDC;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}




#ex_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#ex_table li a {
  line-height: 25px;
  font-size: 19px;
  font-family: "Roboto Condensed","Arial Narrow",sans-serif;
  text-decoration: none;
  color: #FAFAF9;
  font-style: normal;
  font-weight: bold;
  padding: 20px 35px 20px 20px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}






#ex_table ul {
  margin: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  padding: 0;
  background: #9AAAB3;
  font-size: 0;
  border-radius: 0;
}






#ex_table a img {
  border: none;
}

#ex_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#ex_table.css_menu li {
  position: relative;
}

#ex_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#ex_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#ex_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#ex_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#ex_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}










