.main-container {
  background-color: rgb(201, 201, 201);
}
.header {
  color: white;
  width: 100%;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu {
  height: 100%;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.left {
  width: 25%;
}
.left-item {
  width: 90%;
  background-color: rgb(24, 162, 253);
  margin: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.right {
  width: 25%;
}
.right-item {
  width: 90%;
  background-color: rgb(211, 61, 154);
  margin: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-content {
  width: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer {
  width: 100%;
  background-color: rgb(253, 213, 163);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .right-item{
      width:95%;
  }
  .left {
    width: 20%;
  }
  .content{
        box-sizing: border-box;
     width: 100%;
  }
  .main-content{
      width: 78%;
    
  }
}
