<div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://github.com/ImanAkrami"><i class="icon ion-social-github-outline"></i></a><a href="mailto:iman.akrami@gmail.com"><i
                        class="icon ion-ios-email-outline"></i></a><a href="https://t.me/ImanTheDreamer"><i
                        class="icon ion-paper-airplane"></i></a>
            </div>
            <ul class="list-inline d-md-flex justify-content-md-center">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
            </ul>
            <p class="copyright">
                <br />TinyBlog by Iman Akrami © 2019<br /><br />
            </p>
        </footer>
    </div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/bs-animation.js"></script>