<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>TinyBlog</title>
        <link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="stylesheets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="stylesheets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="stylesheets/css/Article-List.css">
        <link rel="stylesheet" href="stylesheets/css/Contact-Form-Clean.css">
        <link rel="stylesheet" href="stylesheets/css/Footer-Basic.css">
        <link rel="stylesheet" href="stylesheets/css/animate.min.css">
        <link rel="stylesheet" href="stylesheets/css/Login-Form-Clean.css">
        <link rel="stylesheet" href="stylesheets/css/Navigation-with-Button.css">
        <link rel="stylesheet" href="stylesheets/css/Article-Clean.css">
        <link rel="stylesheet" href="stylesheets/css/styles.css">
        
</head>