<div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="/">TinyBlog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link " href="/">Home</a></li>
                        <!-- <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About US</a></li> -->
                    </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button"
                        href="/logout" style="background-color: rgb(198,126,86);">Logout</a></span></div>
            </div>
        </nav>
    </div>