<div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="/">TinyBlog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link " href="/">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/userpanel">User Panel</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/adminpanel">Admin Panel</a></li>
                    </ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/register">Sign Up</a></span></div>
            </div>
        </nav>
    </div>