@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* custom css code for logout page */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.nav {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  min-width:80%;
  margin: 0 auto 25px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex
}
.nav img{
  justify-content: flex-start;
  height: 50px;
  width: 50px;
  float: left;
}
.nav .nav-button{
  height: 50px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100px;
  margin-left: 5px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.nav .nav-button:hover,.nav button:active,.nav button:focus {
  background: #43A047;
}
#register{
  background: rgb(236, 118, 82);
}
.nav #register:hover,.nav button:active,.nav button:focus {
  background:rgb(241, 136, 104);
}
.nav h3{
  height: 50px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 0;
  color: rgb(0, 0, 0);
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.logout-main{
  text-align: center;
  width: 100%;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}