/* This is the CSS file for the question 1.5 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 5px rgb(138, 138, 236) solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* ====================================== */
/* this is where the actual answers start. */
/* ====================================== */

.top-header {

  height: 200px;
  background-color: rgb(75, 75, 182);
  margin: 5px;
  color: white;
 
}
.top-header h2 {
  margin-top: 5%;
}
[class*="title-"] {
  height: 200px;
  background-color: rgb(205, 209, 209);
  margin: 2px;
}

[class*="title-"] h3 {
  margin-top: 5%;
}

.title-1 {
  grid-area: title-1;
}

.title-2 {
  grid-area: title-2;
}

.title-3 {
  grid-area: title-3;
}
[class*="color-"] {
  height: 200px;
  margin: 2px;
  color: white;
}
[class*="color-"] h3 {
  margin-top: 5%;
}
.color-blue {
  grid-area: color-blue;
  background-color: rgb(60, 138, 228);
}

.color-orange {
  grid-area: color-orange;
  background-color: rgb(231, 187, 93);
}

.color-green {
  grid-area: color-green;
  background-color: rgb(93, 231, 190);
}

.color-red {
  grid-area: color-red;
  background-color: rgb(231, 93, 127);
}

.main-container {
  display: flex;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}



@media (max-width: 600px) {
  .main-container{
    flex-direction: column;
  }
  .color-red{
    display: none;
  }
}

@media (min-width: 600px) {
  .main-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .top-header{
    width: 100%;
  }
  .title-1 {
    width: calc(50% - 5px);
    
  }
  
  .title-2 {
    width: calc(50% - 5px);
    
  }
  
  .title-3 {
    width: 100%;;
  }

  .color-blue {
    margin-left: 0 ;
    width: calc(50% - 5px);
  }
  
  .color-orange {
    
    width: calc(50% - 5px);
  }
  
  .color-green {
    
    width: calc(50% - 5px);
  }
  
  .color-red {
    
    width: calc(50% - 5px);
  }
}

@media (min-width: 900px) {
  .main-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .top-header{
    width: 100%;
  }
  .title-1 {
    width: calc(100%/3 - 6px);
    
  }
  
  .title-2 {
    width: calc(100%/3 - 6px);
    
  }
  
  .title-3 {
    width: calc(100%/3 - 6px);
  }

  .color-blue {
  
    width: calc(100%/3 - 6px);
  }
  
  .color-orange {
 
    width: calc(100%/3 - 6px);
  }
  
  .color-green {
  
    width: calc(100%/3 - 6px);
  }
  
  .color-red {
   margin: 3px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .top-header{
    width: 100%;
  }
  .title-1 {
    width: calc(100%/3 - 6px);
    
  }
  
  .title-2 {
    width: calc(100%/3 - 6px);
    
  }
  
  .title-3 {
    width: calc(100%/3 - 6px);
  }

  .color-blue {
  
    width: calc(25% - 6px);
  }
  
  .color-orange {
 
    width: calc(25% - 6px);
  }
  
  .color-green {
  
    width: calc(25% - 6px);
  }
  
  .color-red {
    width: calc(25% - 6px);
  }
}

