/* This is the HTML file for the question 1.2 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

.main {
	padding: 10px;
}

#wrapper-paragraph{
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	text-align: justify;
}
#wrapper-paragraph img {
	margin: 10px;
	float: right;
	border: 3px solid gray;
}

#wrapper-paragraph:first-letter {
    font-size: 3em;
    float: left;
    margin-top: .15em;
}