.login-form {
  width: 385px;
  margin: 30px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.login-btn {
  min-height: 38px;
  border-radius: 2px;
}
.input-group-addon .fa {
  font-size: 18px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
}

@font-face {
  font-family: "Samim";
  src: url("fonts/Samim.eot");
  src: url("fonts/Samim.woff") format("woff"),
    url("fonts/Samim.otf") format("opentype"),
    url("fonts/Samim.svg#filename") format("svg");
}
.form-control {
  text-align: right;
  font-family: "Samim", arial, Sans-Serif;
}
body {
  font-family: "Samim", arial, Sans-Serif;
}
h2 {
  font-family: "Samim", arial, Sans-Serif;
}
