/* This is the HTML file for the question 1.7 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */
html {
  scroll-behavior: smooth;
}
.info {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 5px rgb(138, 138, 236) solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

.sections {
  height: 100vh;
  width: 100%;
  position: relative;
}
.sections img {
  position: absolute;
  right: 10%;
  top: 50%;
}

.description {
  width: 30%;
  text-align: center;
  color: white;
  position: absolute;
  left: 20%;
  top: 50%;
}

.description h5 {
  border: 2px solid white;
  font-size: 30px;
  padding: 15px;
}

.description p {
  text-align: left;
}

#sec1 {
  text-align: center;
}

#sec1 .description {
  position: relative;
  left: initial;
  top: 300px;
  display: inline-block;
}

.section-a {
  background-color: rgb(41, 44, 41);
}
.section-b {
  background-color: rgb(62, 184, 58);
}
.section-c {
  background-color: rgb(245, 48, 48);
}
.section-d {
  background-color: rgb(247, 133, 26);
}
.section-e {
  background-color: rgb(117, 19, 96);
}

.bookmark {
  height: 100px;
  width: 20px;

  position: sticky;
  top: 100px;
  left: 0;
  z-index: 100;
  float: right;
}
.bookmark a {
  display: block;
  width: 100%;
}
.nav-button {
  outline: none;
  border: initial;
  border: 1px solid lightgray;
  height: 20%;
  padding: 1px;

  border-radius: 50%;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #f1f5e9;
}
.nav-button:active {
  position: relative;
  top: 1px;
}

#first-btn {
  background-color: #3e4430;
}
#first-btn:hover {
  background-color: #f1f5e9;
}

#second-btn {
  background-color: #0ee23c;
}
#second-btn:hover {
  background-color: #f1f5e9;
}

#third-btn {
  background-color: #fd0404;
}
#third-btn:hover {
  background-color: #f1f5e9;
}

#fourth-btn {
  background-color: #ff7b00;
}
#fourth-btn:hover {
  background-color: #f1f5e9;
}

#fifth-btn {
  background-color: #881b82;
}
#fifth-btn:hover {
  background-color: #f1f5e9;
}
