/* This is the HTML file for the question 1.6 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

.container {
 width: 100%;
  text-align: center;
  font-family: sans-serif;
  float: right;
  font-family: sans-serif;
  color: white;
  font-size: 10px;


}
.arrow_box {
  width: 50%;
  display: inline-block;
	position: relative;
  background: #000000;
  padding: 1em;
}

.arrow_box h1{
  padding: 10px;
  text-align: left;

}
.arrow_box:after {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(255, 9, 9, 0);
	border-right-color: #000000;
	border-width: 20px;
  margin-top: -20px;

}