body {
  margin: 0;
  padding: 0;
}
.all-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
}
.nav-bar {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 38px;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: row;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: white;
  text-align: center;
}
.menu-item {
    box-sizing: border-box;
  width: 100px;
  color: white;
  text-align: center;
  height: 38px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.menu-item:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.search {
  margin-left: auto;
  color: white;
}
.humbergur-menu {
  margin-left: auto;
  color: white;
  width: 30px;
  border: 2px solid black;
}
.humbergur-menu{
    color: aqua;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  min-height: 350px;
  max-height: 600px;
}
.image-container button {
  position: absolute;
  left: 10px;
  bottom: 5%;
  color: #fff !important;
  background-color: #000000 !important;
  font-size: 24px !important;
  border: none;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.team-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-portraits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-portraits .portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portrait img {
  border-radius: 50%;
}
.our-work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  background-color: #424242;
  box-sizing: border-box;
  color: white;
  padding: 30px;
}
.work-cards-inner {
  background-color: white;
  margin: 10px;
  margin-top: 0;
  color: black;
}
.work-cards-inner img {
  padding-left: 0;
}
.work-cards-inner h3,
h4,
p {
  padding-left: 10px;
  padding-bottom: 10px;
}
.our-work img {
  width: 100%;
  margin-top: 0;
}
.our-work .texts {
  width: 100%;
}
.price-item {
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  border: 1px solid rgb(75, 75, 75);
  width: 100%;
}

.price-item h3 {
  box-sizing: border-box;
  background-color: #000000;
  position: absolute;
  width: 100%;
  padding: 0;
  height: 50px;
  margin: 0;
  color: #fff;
  text-align: center;
}
.price-item p{
    text-align: center;
}
.price-signup-area{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    align-items: center;
}
.price-signup-area button{
    width: 200px;
    color: rgb(255, 255, 255) !important;
    background-color: #13740b !important;
    font-size: 24px !important;
    border: none;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    
}
.price-signup-area p{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.5;
}
.price-signup-area button:hover{
    color: #000000;
    background-color: #c1e5be !important;
}
.pricing-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form{
    padding: 30px;
    width: 58.33333%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 10px;
    
}
.form input{
    overflow: visible;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border: none;
    padding: 8px;
}

.form button{
    float: right;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #000000;

}
.form-name, .form-email, .form-message{
    width:100%;
}
.form-check{
    display: block;
    float: left;
    width:10%;
}
.contact-us-texts{
    margin: 10px;
 
}
.contact-us-texts h3{
    font-size: 30px;
}
.contact-us-texts h5{
    font-size: 20px;
}
.contact-us-texts p{
    font-size: 15px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-image{
    box-sizing: border-box;
 width: 100%;
 height: auto;
}
.footer-info{
    background-color: #000000;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.socials{
    width: 50%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    
}
.socialbox img{
    width: 100%;
    max-width: 40px;
}
.socialbox img:hover{
    cursor: pointer;
}
.clicktotop{
    display: flex;
    align-self: flex-end;
  
    right: 10px;
    bottom: 100px;
    z-index: 100;
    
}
@media only screen and (max-width: 600px) {
  /* for mobile */
  .search {
    display: none;
  }
  .menu {
    display: none;
  }
  .portrait img {
    width: 45%;
  }
  .our-work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pricing-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form{
    width: 85%;
}
.contact-us-texts{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}
}
@media only screen and (min-width: 600px) {
  .humbergur-menu {
    display: none;
  }
  .team-portraits {
    flex-direction: row;
    justify-content: space-around;
  }
  .portrait {
    width: 45%;
  }
}
