body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#click-me{
  box-sizing: border-box;
  background-color: aqua;
  width: 60%;
  min-height: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:1%;
  font-size: 20px;
}
