body {
  margin: 50px;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(250, 246, 242);
  border: 3px solid rgb(80, 80, 80);
  border-radius: 10px;
}

a {
  color: #00B7FF;
}

#admin-btn-logout a,
#editUsers a,
#showInfo a {
  color: rgb(255, 255, 255);
}

.form_main {
  width: 100%;
}

.form_main h4 {
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}

.heading {
  border-bottom: 1px solid #fcab0e;
  padding-bottom: 9px;
  position: relative;
}

.heading span {
  background: #9e6600 none repeat scroll 0 0;
  bottom: -2px;
  height: 3px;
  left: 0;
  position: absolute;
  width: 75px;
}

.form {
  border-radius: 7px;
  padding: 6px;
}

.txt[type="text"] {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}

.txt_3[type="text"] {
  margin: 10px 0 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}

.txt2[type="submit"] {
  background: #242424 none repeat scroll 0 0;
  border: 1px solid #4f5c04;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 35px;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  width: 30%;
}

.txt2:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #5793ef;
  transition: all 0.5s ease 0s;
}