<!DOCTYPE html>
<html>
  <head>
    <title>GChat</title>
      <!-- main css file -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Loading SOCKET.IO -->
    <script src="../../socket.io/socket.io.js"></script>

    <!-- Loading JQUERY -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>
    <h3>Welcome to Maktab Global Chat</h3>
    <hr>
    <ul id="chat-frame"></ul>
    <form action="/" method="POST" id="chatForm">
      <input
        id="txt"
        autocomplete="off"
        autofocus="on"
        placeholder="Enter your mesage here!"
      />
      <button type="submit" id="send">Send Message</button>
    </form>
  </body>
      <!-- main script file -->
      <script src="/script/main.js"></script>
</html>
