/* This is the CSS file for the question 1.2 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

/* ====================================== */
/* this is where the actual answers start. */
/* ====================================== */
.black{
    position: relative;
    display: block;
    width: 100%;
    height: 80vh;
    background-color: black;
}

.yellow{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 70%;
    background-color: yellow;
}

.red{
    position: absolute;
    right: 0;
    top:10%;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 8, 0);
}