body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
}

#country-list {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  margin: 50px;
  width: 300px;
  height: 34px;
  border: 1px solid #111;
  border-radius: 3px;
  overflow: hidden;
  /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 20% no-repeat #ddd; */
}
.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: rgb(143, 218, 168);
  width: 100%;
  
}
#country-flag {
  min-height: 150px;
  width: 40%;
  padding: 2px;
  border-radius: 30px;
}

#calling-code-container {
  width: 40%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  /* border: 1px solid black; */

  height: 100%;
}
.middle{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(135, 211, 241);
    width: 100%;
    margin-top: 5px;
}
#countryinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgba(255, 228, 196, 0.514);
    margin: 4px;
    position: relative;
    height: 200px;
}
#countryinfo div{
    font-size: 30px;
    background-color: rgba(136, 134, 132, 0.507);
    width: 100%;
    text-align: center;
    top: 0;
}
#weather-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgba(255, 228, 196, 0.514);
    margin: 4px;
    position: relative;
    height: 200px;
}
#weather-info div{
    font-size: 30px;
    background-color: rgba(136, 134, 132, 0.507);
    width: 100%;
    text-align: center;
    top: 0;
}
#map {
    width : 425px;
    height : 350px;
    
  }


