/* This is the CSS file for the question 1.2 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

/* the page has been divided into RIGHT and LEFT sections. in each section, the class naming goes like this: RIGHT-TOP points to the TOP div in the RIGHT section
and , RIGHT-RIGHT-TOP , points to the top section, in the right section of the right section and so on. */

.grid-container {
	display: grid;
	grid-template-columns: 30% 60% 10%;
	grid-template-rows: 300px 400px 150px 150px;
	grid-template-areas: "left-top right-top right-top" "left-middle right-top right-top" "left-bottom right-left right-right-top" "left-bottom right-left right-right-bottom";
  }

/* now i will add a generic bordering to all divs, as well as a default background color. i will set the special div colors when needed, in their specific class */

.left-top, .left-middle, .left-bottom, .left-top, .right-left,.right-top, .right-right-top, .right-right-bottom  {
	box-sizing: border-box;
	border: 10px solid black;
	background-color: rgb(240, 234, 180);
}

/* and now i will add styling to each grid area. As i already mentioned, the special div colors will be set inplace.  */

  .left-top {
	   grid-area: left-top; 
	/* default color */

	}

  .left-middle {
	   grid-area: left-middle; 
	/* default color */

	}
  
  .left-bottom {
	   grid-area: left-bottom; 
	   background-color: rgb(76, 87, 243);

	}
  
  .right-top {
	   grid-area: right-top;
	   background-color: rgb(255, 0, 0);
	 }
  
  .right-left {
	   grid-area: right-left; 
	/* default color */
	}

	
  .right-right-top { 
	  grid-area: right-right-top; 
	/* default color */
	}
  
  .right-right-bottom {
	   grid-area: right-right-bottom;
	   background-color: rgb(255, 230, 0);
	 }