/* This is the HTML file for the question 1.3 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

body{
	text-align: center;
}
#main-page {
	display: inline-block;
	width: 90%;
	height: auto;


}
#project-name{
	float: left;
	color: gray;
	font-size: 25px;
	margin-top:-20px;
	margin-left: 5px;
	font-family:sans-serif; 
}
.navbar-button-placeholder {
	float: right;
	margin-right: 5px;
	width: 30%;
}
.navbar-button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	width: 30%;
  }
  #home{
	background-color: rgb(89, 87, 199); /* Blue */
  }
  
  #horizontal-line-navbar{
	display: inline-block;
	width: 95%;
	margin-right: 20px;
  }
  #jumbo-main{
	border-radius: 12px;
	background-color: rgb(221, 221, 221);
	height: 20%;
	padding: 50px 10px 50px 10px;
	text-align: center;
  }
  #jumbo-main h1 {
	  font-size: 5em;
	  font-family: sans-serif;
	  margin: 0px;
	  margin-bottom: 10px
  }
  #jumbo-main p {
	  padding-right: 100px;
	  padding-left: 100px;
	font-size: 1.3em;
	margin: 0px;
	margin-bottom: 10px;
	font-family: sans-serif;
}
#jumbo-main button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;

}

#sub-heads{
	width: 100%;
	margin-top: 70px;
}


#left-subhead {
	width: 50%;
	display: block;
	float: left;
}

#right-subhead {
	width: 50%;
	display: block;
	float: left;
}

.subhead{
	text-align: left;
	font-size: 1.3em;
	margin: initial;
	margin-bottom: 30px;
	font-family: sans-serif;
	padding-right: 30px;

}
.subhead h5{
	text-align: left;
	font-size: 1.6em;
	margin: initial;
	margin-top: 10px;
}
.subhead p{
	text-align: left;
	margin: initial;
	margin-top: 20px;
}


.footer {
	text-align: left;
	color: rgb(163, 161, 161);
	font-family: sans-serif;
	font-size: 1.2;
}

.footer p {
padding-top: 10px;
padding-left: 10px;
}