<form role="form" action="pch" method="POST">
<h3>Hi <%= userName %>!</h3>
 <div class="form-group">
   <label for="passwordchange">Change password</label>
   <input type="password" class="form-control" id="passwordchange" name="chpassword" placeholder="Enter new password here">
 </div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>