<!DOCTYPE html>
<html>

    <%- include partials/head.ejs %>
<body>
    <%- include partials/navloggedin.ejs %>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 d-flex flex-column">
                    <div class="intro">
                        <h1 class="text-center"><%= articleinfo.articleTitle %></h1>
                        <p class="text-center"> <a href="#"><%= (articleinfo.author_ID.firstname+' '+articleinfo.author_ID.lastname) %></a><span class="date">Visited <%=  articleinfo.views  %> times</span><span class="date">Last update: <%= articleinfo.update_at %> </span></p><img class="img-fluid d-lg-flex" src="<%= '../../'+articleinfo.articleImage.slice(7) %>"></div>
                    <div class="text">
                        <p><%= articleinfo.articleContent %></p>
                    </div>
                    
                    <div class="text-center text"><a class="btn btn-primary" role="button" href="/userpanel">Back</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <p id="current-post-id" ><%= articleinfo %></p> -->
    <%- include partials/footer.ejs %>
</body>

</html>