<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>

<body>
        <%- include partials/navloggedin.ejs %>
    <div class="d-flex flex-column justify-content-center align-items-center footer-basic" style="height: 70px;">
        <h1>New Post</h1>
    </div>
    <div class="contact-clean" style="padding-top: 7px;">
        <form method="post" style="max-width: 733px;height: 500px;" enctype="multipart/form-data" action="/adminpanel/api/postadminnewarticle" >
            <div class="form-group"><input class="form-control" type="text" name="title" placeholder="Title" required="" minlength="1"></div>
            <div class="form-group"><textarea class="form-control" name="content" placeholder="Type something here..." style="height: 236px;" required="" minlength="10"></textarea></div><input type="file" name="sampleFile" accept="image/*" required="">
            <div class="form-group d-md-flex"><button class="btn btn-primary d-md-flex btn-block" type="submit">send </button> <a class="btn btn-primary red btn-block" href="/userpanel">Cancel</a></div>

        </form>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/adminpanel.js"></script>
</body>

</html>