<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>


<body>
        <%- include partials/navloggedin.ejs %>

    <div class="d-flex flex-column justify-content-center align-items-center footer-basic" style="height: 140px;">
        <h1>Manage Users</h1>
        <footer></footer>
    </div>
    <div>
        <div class="table-responsive" style="padding-right: 43px;padding-left: 48px;">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>Gender</th>
                        <th>Mobile</th>
                        <th>Avatar</th>
                        <th class="table-info">Actions</th>
                    </tr>
                </thead>
                <tbody id="user-list-container">

                </tbody>
            </table>
        </div>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/adminpanellmanageusers.js"></script>
</body>

</html>