<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>

<body>
        <%- include partials/navloggedin.ejs %>
    <div class="d-flex flex-column justify-content-center align-items-center footer-basic" style="height: 70px;">
        <h1>Edit Profile</h1>
    </div>
    <div class="article-list"></div>
    <div class="login-clean" style="padding-top: 29px;">
        <form method="POST" id="edituserform" method="post" enctype="multipart/form-data" action="/adminpanel/api/postadminconfirmuseredit" style="max-width: 487px;">
            <h2 class="sr-only">Login Form</h2>
            <div  class="form-group"><input class="form-control" type="text" id="firstname" name="firstname" placeholder="" required="" minlength="2"></div>
            <div class="form-group"><input class="form-control" type="text"  id="lastname" name="lastname" placeholder="" required="" minlength="2"></div>
            <div class="form-group"><input class="form-control" type="tel" id="mobile" placeholder="" name="mobile" inputmode="tel" required="" minlength="10" maxlength="15"></div>
            <div class="form-group"><input class="form-control" type="text" id="username" name="username" placeholder="" required="" minlength="5" maxlength="25"></div>
            <div class="form-group"><input class="form-control " type="password" id="password" name="password" placeholder="Password Will be reset to  mobile number" minlength="8" required="" readonly="readonly"></div>
            <div class="form-group"><select class="custom-select" name="gender"id="gender" required=""><option value="male" selected="">Male</option><option value="female">Female</option></select></div>
            <div class="form-group"><input required="" type="file" name="sampleFile"></div>
            <div class="alert alert-info" role="alert"><span><strong>Password</strong> will be changed to <strong>Mobile number</strong></span></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
            <div class="form-group"><a class="btn btn-outline-success btn-block" href="/adminpanel/manageusers">Cancel</a></div>
        </form>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/jquery.form.js"></script>
    <script src="javascripts/adminpaneledituser.js">
        
    </script>
</body>

</html>