<!DOCTYPE html>
<html>

<%- include partials/head.ejs %>

<body>
    <%- include partials/navloggedin.ejs %>
    
    <div class="d-flex flex-column justify-content-center align-items-center footer-basic" style="height: 198px;"><img
            class="border rounded" id="avatar" src="" width="80" height="100" alt="Profile Picture">
        <h1>Welcome <strong id="welcometitle"></strong> </h1>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-secondary">Admin info</h4>
                    <hr>
                    <div class="table-responsive">
                            <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>First Name</td>
                                            <td id="nameinfo"></td>
                                        </tr>
                                        <tr>
                                            <td >Last Name</td>
                                            <td id="lastnameinfo"></td>
                                        </tr>
                                        <tr>
                                            <td>User Name</td>
                                            <td id="usernameinfo"></td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td id="genderinfo" ></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile No.</td>
                                            <td id="mobileinfo" ></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-secondary">Blog</h4>
                    <hr><a href="adminpanel/newpost" class="btn btn-success btn-block text-white border rounded shadow-sm" role="button"
                        >New Post</a>
                        <a href="adminpanel/myposts"
                        class="btn btn-outline-success btn-block border rounded shadow-sm" role="button"
                        >My Posts</a>
                    <a href="adminpanel/allposts" class="btn btn-outline-success btn-block border rounded shadow-sm" role="button"
                        >All posts</a>
                </div>
                <div class="col-md-4">
                    <h4 class="text-secondary">Administration</h4>
                    <hr><a  href="adminpanel/editprofile" class="btn btn-outline-success btn-block border rounded shadow-sm" role="button"
                        >Edit Profile</a><a href="adminpanel/manageusers"
                        class="btn btn-outline-success btn-block border rounded shadow-sm" role="button"
                        >Manage Users</a>
                </div>
            </div>
        </div>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/adminpanel.js"></script>
</body>

</html>