<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>


<body>
    
        <%- include partials/navloggedout.ejs %>

    <div class="container">
        <div class="intro">
            <h2 class="text-center">Latest Posts</h2>
        </div>
    </div>
    <div class="article-list"></div>
    <div class="container border rounded-0">
        <div class="intro"></div>
        <div id="article-container" class="row articles">

            <!-- <div class="col-sm-6 col-md-4 item" style="padding: 21px;"><a href="#"><img class="img-fluid" src="images/desk.jpg"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
            </div> -->

            
        </div>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/publicshowarticles.js"></script>


</body>

</html>