<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>

<body>
    
        <%- include partials/navloggedout.ejs %>

    <div class="article-list"></div>
    <div class="login-clean">
        <form method="POST" action="/api/login">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-social-nodejs"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="User Name" required=""></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required=""></div>
            <div class="alert alert-success" role="alert"><span><%= msg %></span></div>
            <div class="form-group"><button class="btn btn-primary btn-block"  type="submit">Log In</button></div><a class="forgot" href="/register">Don't have an account? Register!</a></form>
    </div>
      <%- include partials/footer.ejs %>

</body>

</html>