<!DOCTYPE html>
<html>

<%- include partials/head.ejs %>


<body>
        <%- include partials/navloggedout.ejs %>
    <div class="article-list"></div>
    <div class="d-lg-flex justify-content-lg-center login-clean">
        <div class="alert alert-info" role="alert" style="width: 470px;"><span>You have successfully logged out</span>
        </div>
    </div>
    <%- include partials/footer.ejs %>
</body>

</html>