<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>

<body>
       
        <%- include partials/navloggedout.ejs %>

    <div class="article-list"></div>
    <div class="login-clean">
        <form method="POST" action="/api/register">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fab fa-node-js"></i></div>
            <div class="form-group">
                <input class="form-control" type="text" name="firstname" placeholder="First Name" required=""
                    minlength="2" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastname" placeholder="Last Name" required=""
                    minlength="2" />
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" placeholder="Mobile Number" name="mobile" inputmode="tel"
                    required="" minlength="10" maxlength="15" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="User Name" required=""
                    minlength="5" maxlength="25" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" minlength="8"
                    required="" />
            </div>
            <div class="form-group">
                <select class="custom-select" name="gender" required="">
                    <option value="male" selected="">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="alert alert-info" role="alert">
                <span><%= msg %></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Register
                </button>
            </div>
            <a class="forgot" href="/login">Already have an account? Login</a>
        </form>
    </div>
    <%- include partials/footer.ejs %>
</body>

</html>