<!DOCTYPE html>
<html>

        <%- include partials/head.ejs %>

<body>
        <%- include partials/navloggedin.ejs %>
    <div class="article-list"></div>
    <div class="d-flex flex-column justify-content-center align-items-center footer-basic" style="height: 70px;">
        <h1>Delete Profile</h1>
    </div>
    <div class="login-clean" style="padding: 39px;">
        <form method="post" action="api/userselfdelete" style="width: 607px;min-width: 0;max-width: 533px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-android-warning"></i></div>
            <div class="form-group">
                <div class="alert alert-warning" role="alert"><span><strong>You are about to delete your profile. Please enter your password to confirm.</strong></span></div>
            </div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-warning btn-block" type="submit">Delete Profile Forever!</button></div>
        </form>
    </div>
    <%- include partials/footer.ejs %>
</body>

</html>