<!DOCTYPE html>
<html>

    


<body>
        <%- include partials/navloggedin.ejs %>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 d-flex flex-column">
                    <div class="intro">
                        <h1 id="article-title" class="text-center"><%= articleinfo.articleTitle %></h1>
                        <p class="text-center"> <a href="#">Author Name</a><span class="date">Sept 8th, 2016 </span></p></div>
                        <p class="text-center"> </p><img id="article-image" class="img-fluid d-lg-flex" src="<%= '../../'+articleinfo.articleImage.slice(7) %>"></div>
                    <div class="text">
                        <p id="article-text"><%= articleinfo.articleContent %></p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center text"><a class="btn btn-info" role="button" style="width: 148px;" href="/userpanel">Back</a></div>
                </div>
            </div>
        </div>
    </div>
    <p id="current-post-id" ><%= articleinfo %></p>
    <%- include partials/footer.ejs %>
    <!-- <script src="../javascripts/usersinglearticle.js"></script> -->
<style>
.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}


</style>
</body>

</html>