<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>

<body>
        <%- include partials/navloggedin.ejs %>

    <div  class="d-flex flex-column justify-content-center align-items-center footer-basic" style="height: 198px;"><img id="avatar"
            class="border rounded" src="images/defaultprofile.png" width="90" height="100" alt="Profile Picture">
        <h1>Welcome <strong id="welcometitle"></strong></h1>
        
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-secondary">User info</h4>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>First Name</td>
                                    <td id="nameinfo"></td>
                                </tr>
                                <tr>
                                    <td >Last Name</td>
                                    <td id="lastnameinfo"></td>
                                </tr>
                                <tr>
                                    <td>User Name</td>
                                    <td id="usernameinfo"></td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td id="genderinfo" ></td>
                                </tr>
                                <tr>
                                    <td>Mobile No.</td>
                                    <td id="mobileinfo" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-secondary">Blog</h4>
                    <hr><a href="userpanel/newpost" class="btn btn-success btn-block text-white border rounded shadow-sm" role="button"
                        >New Post</a><a href="userpanel/myposts"
                        class="btn btn-outline-success btn-block border rounded shadow-sm" role="button"
                        >My Posts</a>
                </div>
                <div class="col-md-4">
                    <h4 class="text-secondary">Profile</h4>
                    <hr><a href="userpanel/editprofile" class="btn btn-outline-success btn-block border rounded shadow-sm" role="button"
                        >Edit Profile</a><a href="userpanel/deleteuserconfirm"
                        class="btn btn-warning btn-block border rounded shadow-sm" role="button"
                        data-bs-hover-animate="pulse">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/userpanel.js">
        
    </script>
</body>

</html>