<!DOCTYPE html>
<html>

    <%- include partials/head.ejs %>
<body>
    <%- include partials/navloggedin.ejs %>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 d-flex flex-column">
                    <div class="intro">
                        <h1 class="text-center"><%= articleinfo.articleTitle %></h1>
                        <p class="text-center"> <a href="#"><%= (articleinfo.author_ID.firstname+' '+articleinfo.author_ID.lastname) %></a><span class="date">Visited <%=  articleinfo.views  %> times</span><span class="date">Last update: <%= articleinfo.update_at %> </span></p><img class="img-fluid d-lg-flex" src="<%= '../../'+articleinfo.articleImage.slice(7) %>"></div>
                    <div class="text">
                        <p><%= articleinfo.articleContent %></p>
                    </div>
                    <div>
                        <hr>
                        <h2 class="text-center">Comments:</h2>
                    </div>
                    <div class="text-center text">
                        <div class="text-left">
                            <div id="comment-container">
                                    
                            </div>
                        </div>
                        <div class="text-center text">
                            <hr>
                            <h2>Tell me your thoughts...</h2>
                            <form method="post" method="post" >
                                <div class="form-group"><input class="form-control" type="text" id="commenttitle" name="commenttitle" placeholder="Enter a subject for your comment"></div>
                                <div class="form-group"><textarea class="form-control" name="comment" placeholder="Tell me what you think..." rows="5"></textarea></div>
                                <div class="form-group"><button class="btn btn-success" type="submit">send </button></div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center text"><a class="btn btn-primary" role="button" href="/myposts">Back</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <p id="current-post-id" ><%= articleinfo %></p> -->
    <%- include partials/footer.ejs %>
    <script src="javascripts/getallcomments.js"></script>
</body>

</html>