<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>

  <body>
    <%- include partials/navloggedin.ejs %>

    <div
      class="d-flex flex-column justify-content-center align-items-center footer-basic"
    >
      <h1 style="height: 38px;">All Posts</h1>
    </div>
    <div class="article-list">
      <div class="container border rounded-0">
        <div class="intro"></div>
        <div id="article-container" class="row articles">
          <!-- <div class="col-sm-6 col-md-4 item">
            <img class="img-fluid" src="images/desk.jpg" />
            <h3 id="article-title" class="name">Article Title</h3>
            <p id="article-shorttext" class="description">
              Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
              Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
              interdum justo suscipit id.
            </p>
            <div class="d-flex justify-content-between">
              <a class="action" href="#"><i class="fa fa-align-justify"></i></a
              ><a class="action" href="#"><i class="fa fa-edit"></i></a
              ><a class="action" href="#"><i class="fa fa-trash"></i></a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/userpanelshowarticles.js"></script>
  </body>
</html>
