<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>

  <body>
    <%- include partials/navloggedin.ejs %>
    <div
      class="d-flex flex-column justify-content-center align-items-center footer-basic"
      style="height: 70px;"
    >
      <h1>Edit Post</h1>
    </div>
    <div class="contact-clean" style="padding-top: 7px;">
      <form
        method="post"
        style="max-width: 733px;"
        enctype="multipart/form-data"
        action="/userpanel/api/userposteditarticle?id=<%= article._id %>"
      >
        <div class="form-group">
                
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Title"
            value="<%= article.articleTitle %>"
            required=""
            minlength="1"
          />
        </div>
        <div class="form-group">
                
                <img
                class="img-fluid d-lg-flex"
                src="<%= '../../'+article.articleImage.slice(7) %>"
              />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            name="content"
            placeholder="Type something here..."
            
            style="height: 236px;"
            required=""
            minlength="10"
          ><%= article.articleContent %></textarea>
        </div>
        <input type="file" name="sampleFile" accept="image/*" required="" />
        <div class="form-group d-md-flex">
          <button class="btn btn-primary d-md-flex btn-block" type="submit">
            send
          </button>
          <a class="btn btn-primary red btn-block" href="/userpanel/myposts">Cancel</a>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
    <script src="javascripts/userpanel.js"></script>
  </body>
</html>
