/* This is the HTML file for the question 1.2 , by Iman Akrami. */

/* ====================================== */
/* this is just the top information box styling. */
/* ====================================== */

.info {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 5px rgb(138, 138, 236) solid;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

/* ====================================== */
/* The main styling starts from here */
/* ====================================== */

/* the page has been divided to the top and bottom sections. each holding a few divs of their own. for example, top-left-top contains the top 
element of the left section of the main top container. */

.main-container {
	height: 1200px;
}

.main-top-container {
	height: 800px;
}

.main-bottom-container {
	height: 400px;
	background-color:  rgb(240, 234, 180);
}

.top-left {
	display: block;
	float: left;
	width: 30%;
	height: 100%;
}

/* now i will add a generic bordering to all divs, as well as a default background color. i will set the special div colors when needed, in their specific class */

.top-right, .top-left-top, .top-left-bottom,.bottom-left, .bottom-middle, .bottom-right-top, .bottom-right-bottom{
	box-sizing: border-box;
	border: 5px black solid;
	background-color:rgb(240, 234, 180);
}

/* now it's time for specific div styling. i will set the non-default colors when needed. */

.top-right {
	width: 70%;
	height: 100%;
	float: right;
	background-color: rgb(255, 0, 0);
}

.top-left-top {
	display: block;
	height: 50%;
	/* default color */
}
.top-left-bottom {
	display: block;
	height: 50%;
	/* default color */
}

.bottom-left {
	float: left;
	width: 30% ;
	height: 100%;
	background-color: rgb(25, 0, 255);


}

.bottom-middle {
	float: left;
	width: 60%;
	height: 100%;
	/* default color */
}

.bottom-right {
	float: left;
	width: 10%;
	height: 100%;
	/* doesnt need a color, just a container */
}

.bottom-right-top {
	height: 50%;
	/* default color */
}

.bottom-right-bottom {
	height: 50%;
	background-color: rgb(255, 230, 0);
}
