<%# showing registeration form error messages with a for each loop %>

<% if(typeof errors != 'undefined'){ %> 
<% errors.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= error.msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% }); %> 
<% } %>

<%# if success message is not there it will be an empty string %>

 <% if(success_msg != ''){ %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%# the global variable that we created in the appjs file %>
    <%= success_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>


<%# if error message is not there it will be an empty string %>
<% if(error_msg != ''){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%# the global variable that we created in the appjs file %>
    <%= error_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>

<% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%# the global variable that we created in the appjs file %>

    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>