<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <div class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">read below about product</p>
        <hr class="my-4">
        <p><%= desc %></p>
        
      </div>
    </div>
    <footer>
        <% include ../partials/footer %>
        

    </footer>
    
  </body>
</html>
