<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="container-fluid">
        <div class="cards">
          <div class="row row-padder">
            <div class="col-3" data-id="1">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">*</h5>
                  <p class="card-text">
                    *
                  </p>
                  <a href="*" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3" data-id="2">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">*</h5>
                  <p class="card-text">
                    *
                  </p>
                  <a href="*" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3" data-id="3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">*</h5>
                  <p class="card-text">
                    *
                  </p>
                  <a href="*" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-padder">
            <div class="col-3" data-id="4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">*</h5>
                  <p class="card-text">
                    *
                  </p>
                  <a href="*" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3" data-id="5">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">*</h5>
                  <p class="card-text">
                    *
                  </p>
                  <a href="*" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3" data-id="6">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">*</h5>
                  <p class="card-text">
                    *
                  </p>
                  <a href="*" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
