body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#click-me{
  box-sizing: border-box;
  background-color: aqua;
  width: 80%;
  min-height: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:1%;
  font-size: 10px;
  
}
div{
  border: 1px solid black;
  height: 100px;
  
}

#middle{
  clear: both;
  width: 80%;
  height: 200px;

}
.inner{
  clear: both;
width: 80%;
height: 100px;

}